/* 상단바 css 불러오기 */
@import url('header.css');

/* 필터 */
.filter{
  width: 100%;
  top: 0;
  box-sizing: border-box;
  border-bottom: 1px solid gray;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: sticky;
  z-index: 998;
  background-color: white;
}

.filter-equipment::before{
  content: '기구';
  font-size: var(--font-size-sm);
  padding-right: 2em;
}

.filter-equipment{
  display: flex;
  margin: var(--body-margin);
  padding: 0;
  padding-top: 10px;
  padding-bottom: 20px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.filter-eq-item-now{
  display: flex;
  margin: 0;
  width: 3em;
  height: 1em;
  padding: var(--body-margin);
  background-color: lightblue;
  border-radius: 10dvw;  
  justify-content: center;
  align-items: center;
  align-content: center;
}

.filter-eq-item{
  display: flex;
  margin: 0;
  width: 3em;
  height: 1em;
  padding: var(--body-margin);
  justify-content: center;
  align-items: center;
  align-content: center;
}

.filter-time::before{
  content: '시간';
  font-size: var(--font-size-sm);
  padding-right: 2em;
}

.filter-time{
  display: flex;
  margin: var(--body-margin);
  padding: 0;
  padding-bottom: 20px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.filter-tm-item-now{
  display: flex;
  margin: 0;
  width: 3em;
  height: 1em;
  padding: var(--body-margin);
  background-color: lightblue;
  border-radius: 10dvw;  
  justify-content: center;
  align-items: center;
  align-content: center;
}

.filter-tm-item{
  display: flex;
  margin: 0;
  width: 3em;
  height: 1em;
  padding: var(--body-margin);
  justify-content: center;
  align-items: center;
  align-content: center;
}


.filter-prop::before{
  content: '소도구';
  font-size: var(--font-size-sm);
  padding-right: 1em;
  white-space: nowrap;
}

.filter-prop{
  display: flex;
  margin: var(--body-margin);
  padding: 0;
  padding-bottom: 20px;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: white;
}

.filter-pr-item-now{
  display: flex;
  margin: 0;
  width: 3em;
  height: 1em;
  padding: var(--body-margin);
  background-color: lightblue;
  border-radius: 10dvw;  
  justify-content: center;
  align-items: center;
  align-content: center;
}

.filter-pr-item{
  display: flex;
  margin: 0;
  width: 3em;
  height: 1em;
  padding: var(--body-margin);
  justify-content: center;
  align-items: center;
  align-content: center;
}

.filter-toggle{
  width: 90%;
  display: flex;
  justify-content: left;
  align-items: center;
  align-content: center;
}

.toggle{
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 10dvw;
  font-size: var(--font-size-ssm);
  margin-top: 10px;
  padding: 0.7em;
  justify-content: left;
  align-items: center;
  align-content: center;
}

.result-list{
  padding-top: 10px;
  width: 90%;
  height: 85%;
  display: flex;
  flex-direction: column;
}

.result-item{
  display: flex;
  box-sizing: border-box;
  border-bottom: 1px solid grey;
  gap: 1em;
  height: 7em;
  text-align: left;
  align-items: center;
  align-content: center;
}


.result-frame{
  width: 5em;
  height: 5em;
  box-sizing: border-box;
  border: 1px solid gray;
  overflow: hidden;
  position: relative;
}

.result-img{
  width: 100%;
  position: absolute;
  object-fit: cover;
}

.result-length{
  font-size: var(--font-size-ssm);
  margin: 0;
  padding: 0;
}

.result-name {
  font-size: var(--font-size-sm);
  white-space: nowrap;
  overflow: hidden;
}